@import "tailwindcss";

html,
body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Force the html and body to take the full height of content */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* Your existing marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.prose br {
  display: block;
  margin-bottom: 0.75em;
  /* Adjust this value to increase/decrease space */
  content: "";
}

.prose p {
  margin-bottom: 1.5em;
  /* Ensure paragraphs have good spacing */
}